<a href="https://colab.research.google.com/github/baut-jc/ddds-c18/blob/lectures/Lectures/6-1a_File_Handling_with_Pickle_end.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pickle

Pickle is used for serializing and de-serializing Python objects.
Serialization is the process of encoding an object as bytes that can be easily stored and later de-serialized back to a Python object.
<br>
When an object is pickled, it contains all of the information needed to reconstruct that object later on.

**Pros**
- Easy to use & lightweight.
- Allows for moving of data across a network.
- Is useful if you want to pause and resume a long-running script (you can dump the system's state and resume it later on).
- Is useful for persistency across program runs.

**Cons**
- Other programming languages cannot reconstruct pickled objects.
- Not human readable.
- Security (you can accidently unpickle malicious code if you don't know what it is you're unpickling).

## Pickling a dictionary of a data frame

In [ ]:
import numpy as np
import pandas as pd
import pickle

Load a CSV file.

In [ ]:
url = 'https://ddc-datascience.s3.amazonaws.com/Projects/Project.1-Transactions/Data/Transaction.train.big.csv'

In [ ]:
!curl -O {url}

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  178M  100  178M    0     0  38.7M      0  0:00:04  0:00:04 --:--:-- 39.2M

In [ ]:
data = pd.read_csv( url )
data = data.drop(['Unnamed: 0'], axis=1)

In [ ]:
data.shape

(1050000, 103)

In [ ]:
data.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_91,var_92,var_93,var_94,var_95,var_96,var_97,var_98,var_99,var_100
0,train_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,train_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,train_3,0.0,4.6739,22.3915,15.6015,NaN,0.0464,NaN,NaN,-1.9254,...,NaN,11.1077,NaN,-12.6465,NaN,NaN,NaN,NaN,NaN,14.0618
4,train_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.iloc[:,0:3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   ID_code  1050000 non-null  object
 1   target   180000 non-null   float64
 2   var_0    180000 non-null   float64
dtypes: float64(2), object(1)
memory usage: 24.0+ MB

In [ ]:
data['target'].value_counts( dropna=False)

target
NaN    870000
0.0    161960
1.0     18040
Name: count, dtype: int64

In [ ]:
data['target'] = data['target'].astype("boolean")

In [ ]:
data.iloc[:,0:3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   ID_code  1050000 non-null  object
 1   target   180000 non-null   boolean
 2   var_0    180000 non-null   float64
dtypes: boolean(1), float64(1), object(1)
memory usage: 18.0+ MB

In [ ]:
data['target'].value_counts(dropna=False)

target
<NA>     870000
False    161960
True      18040
Name: count, dtype: Int64

Pickle the file.

In [ ]:
dict_data = data.to_dict(orient = 'series')
dict_data

{'ID_code': 0                train_0
 1                train_1
 2                train_2
 3                train_3
 4                train_4
                ...
 1049995    train_1049995
 1049996    train_1049996
 1049997    train_1049997
 1049998    train_1049998
 1049999    train_1049999
 Name: ID_code, Length: 1050000, dtype: object,
 'target': 0           <NA>
 1           <NA>
 2           <NA>
 3          False
 4           <NA>
            ...
 1049995     True
 1049996     <NA>
 1049997    False
 1049998     <NA>
 1049999    False
 Name: target, Length: 1050000, dtype: boolean,
 'var_0': 0              NaN
 1              NaN
 2              NaN
 3           4.6739
 4              NaN
             ...
 1049995    11.3251
 1049996        NaN
 1049997     8.9941
 1049998        NaN
 1049999     2.1828
 Name: var_0, Length: 1050000, dtype: float64,
 'var_1': 0              NaN
 1              NaN
 2              NaN
 3          22.3915
 4              NaN
             ...
 1049995    16.4148
 1049996        NaN
 1049997    13.4127
 1049998        NaN
 1049999    12.3805
 Name: var_1, Length: 1050000, dtype: float64,
 'var_2': 0              NaN
 1              NaN
 2              NaN
 3          15.6015
 4              NaN
             ...
 1049995    20.5955
 1049996        NaN
 1049997     3.9567
 1049998        NaN
 1049999    17.5654
 Name: var_2, Length: 1050000, dtype: float64,
 'var_3': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_3, Length: 1050000, dtype: float64,
 'var_4': 0             NaN
 1             NaN
 2             NaN
 3          0.0464
 4             NaN
             ...
 1049995   -6.3011
 1049996       NaN
 1049997    3.5744
 1049998       NaN
 1049999    8.1795
 Name: var_4, Length: 1050000, dtype: float64,
 'var_5': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_5, Length: 1050000, dtype: float64,
 'var_6': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_6, Length: 1050000, dtype: float64,
 'var_7': 0             NaN
 1             NaN
 2             NaN
 3         -1.9254
 4             NaN
             ...
 1049995   -6.8112
 1049996       NaN
 1049997    1.6614
 1049998       NaN
 1049999   -5.5755
 Name: var_7, Length: 1050000, dtype: float64,
 'var_8': 0             NaN
 1             NaN
 2             NaN
 3          6.4760
 4             NaN
             ...
 1049995    7.3226
 1049996       NaN
 1049997    6.1486
 1049998       NaN
 1049999    6.3705
 Name: var_8, Length: 1050000, dtype: float64,
 'var_9': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_9, Length: 1050000, dtype: float64,
 'var_10': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_10, Length: 1050000, dtype: float64,
 'var_11': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_11, Length: 1050000, dtype: float64,
 'var_12': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_12, Length: 1050000, dtype: float64,
 'var_13': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_13, Length: 1050000, dtype: float64,
 'var_14': 0              NaN
 1              NaN
 2              NaN
 3          21.6435
 4              NaN
             ...
 1049995    14.9182
 1049996        NaN
 1049997    12.0996
 1049998        NaN
 1049999     5.1813
 Name: var_14, Length: 1050000, dtype: float64,
 'var_15': 0             NaN
 1             NaN
 2             NaN
 3          2.8817
 4             NaN
             ...
 1049995    2.4579
 1049996       NaN
 1049997    2.5439
 1049998       NaN
 1049999    2.5118
 Name: var_15, Length: 1050000, dtype: float64,
 'var_16': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_16, Length: 1050000, dtype: float64,
 'var_17': 0              NaN
 1              NaN
 2              NaN
 3          11.6975
 4              NaN
             ...
 1049995    14.7175
 1049996        NaN
 1049997    10.2936
 1049998        NaN
 1049999    10.0141
 Name: var_17, Length: 1050000, dtype: float64,
 'var_18': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_18, Length: 1050000, dtype: float64,
 'var_19': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_19, Length: 1050000, dtype: float64,
 'var_20': 0              NaN
 1              NaN
 2              NaN
 3           0.5878
 4              NaN
             ...
 1049995     3.8858
 1049996        NaN
 1049997     2.0014
 1049998        NaN
 1049999   -14.7574
 Name: var_20, Length: 1050000, dtype: float64,
 'var_21': 0              NaN
 1              NaN
 2              NaN
 3          18.3720
 4              NaN
             ...
 1049995     0.5904
 1049996        NaN
 1049997     6.4456
 1049998        NaN
 1049999     1.7674
 Name: var_21, Length: 1050000, dtype: float64,
 'var_22': 0              NaN
 1              NaN
 2              NaN
 3          17.5209
 4              NaN
             ...
 1049995    10.7483
 1049996        NaN
 1049997    17.2669
 1049998        NaN
 1049999    15.4881
 Name: var_22, Length: 1050000, dtype: float64,
 'var_23': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_23, Length: 1050000, dtype: float64,
 'var_24': 0             NaN
 1             NaN
 2             NaN
 3         -0.3075
 4             NaN
             ...
 1049995    5.0281
 1049996       NaN
 1049997    7.2459
 1049998       NaN
 1049999   -6.5852
 Name: var_24, Length: 1050000, dtype: float64,
 'var_25': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_25, Length: 1050000, dtype: float64,
 'var_26': 0              NaN
 1              NaN
 2              NaN
 3           8.2199
 4              NaN
             ...
 1049995    15.1181
 1049996        NaN
 1049997    10.2312
 1049998        NaN
 1049999     9.0067
 Name: var_26, Length: 1050000, dtype: float64,
 'var_27': 0              NaN
 1              NaN
 2              NaN
 3          19.4827
 4              NaN
             ...
 1049995    15.2175
 1049996        NaN
 1049997    16.0592
 1049998        NaN
 1049999     7.6656
 Name: var_27, Length: 1050000, dtype: float64,
 'var_28': 0             NaN
 1             NaN
 2             NaN
 3          1.0175
 4             NaN
             ...
 1049995   -1.8549
 1049996       NaN
 1049997    2.0580
 1049998       NaN
 1049999    5.9958
 Name: var_28, Length: 1050000, dtype: float64,
 'var_29': 0             NaN
 1             NaN
 2             NaN
 3          5.0866
 4             NaN
             ...
 1049995    8.8537
 1049996       NaN
 1049997    9.9253
 1049998       NaN
 1049999    6.1561
 Name: var_29, Length: 1050000, dtype: float64,
 'var_30': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_30, Length: 1050000, dtype: float64,
 'var_31': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_31, Length: 1050000, dtype: float64,
 'var_32': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_32, Length: 1050000, dtype: float64,
 'var_33': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_33, Length: 1050000, dtype: float64,
 'var_34': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_34, Length: 1050000, dtype: float64,
 'var_35': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_35, Length: 1050000, dtype: float64,
 'var_36': 0             NaN
 1             NaN
 2             NaN
 3          7.6264
 4             NaN
             ...
 1049995    6.6473
 1049996       NaN
 1049997    6.1107
 1049998       NaN
 1049999    3.0975
 Name: var_36, Length: 1050000, dtype: float64,
 'var_37': 0             NaN
 1             NaN
 2             NaN
 3          3.4635
 4             NaN
             ...
 1049995   -0.7944
 1049996       NaN
 1049997    7.5501
 1049998       NaN
 1049999    2.0962
 Name: var_37, Length: 1050000, dtype: float64,
 'var_38': 0              NaN
 1              NaN
 2              NaN
 3          17.2850
 4              NaN
             ...
 1049995     8.2633
 1049996        NaN
 1049997    27.3166
 1049998        NaN
 1049999    14.3477
 Name: var_38, Length: 1050000, dtype: float64,
 'var_39': 0              NaN
 1              NaN
 2              NaN
 3          16.5520
 4              NaN
             ...
 1049995    12.3891
 1049996        NaN
 1049997    15.4494
 1049998        NaN
 1049999    16.7282
 Name: var_39, Length: 1050000, dtype: float64,
 'var_40': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_40, Length: 1050000, dtype: float64,
 'var_41': 0              NaN
 1              NaN
 2              NaN
 3          -6.8709
 4              NaN
             ...
 1049995     2.1288
 1049996        NaN
 1049997     9.3905
 1049998        NaN
 1049999    16.3999
 Name: var_41, Length: 1050000, dtype: float64,
 'var_42': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_42, Length: 1050000, dtype: float64,
 'var_43': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_43, Length: 1050000, dtype: float64,
 'var_44': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_44, Length: 1050000, dtype: float64,
 'var_45': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_45, Length: 1050000, dtype: float64,
 'var_46': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_46, Length: 1050000, dtype: float64,
 'var_47': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_47, Length: 1050000, dtype: float64,
 'var_48': 0              NaN
 1              NaN
 2              NaN
 3           8.1810
 4              NaN
             ...
 1049995     5.8544
 1049996        NaN
 1049997    11.0105
 1049998        NaN
 1049999    27.1135
 Name: var_48, Length: 1050000, dtype: float64,
 'var_49': 0             NaN
 1             NaN
 2             NaN
 3          4.9695
 4             NaN
             ...
 1049995    6.4481
 1049996       NaN
 1049997    5.2315
 1049998       NaN
 1049999    4.2625
 Name: var_49, Length: 1050000, dtype: float64,
 'var_50': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_50, Length: 1050000, dtype: float64,
 'var_51': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_51, Length: 1050000, dtype: float64,
 'var_52': 0              NaN
 1              NaN
 2              NaN
 3          -5.6821
 4              NaN
             ...
 1049995   -18.5661
 1049996        NaN
 1049997     1.5705
 1049998        NaN
 1049999     1.9819
 Name: var_52, Length: 1050000, dtype: float64,
 'var_53': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_53, Length: 1050000, dtype: float64,
 'var_54': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_54, Length: 1050000, dtype: float64,
 'var_55': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_55, Length: 1050000, dtype: float64,
 'var_56': 0              NaN
 1              NaN
 2              NaN
 3          14.2726
 4              NaN
             ...
 1049995    13.6435
 1049996        NaN
 1049997    13.6056
 1049998        NaN
 1049999    13.9939
 Name: var_56, Length: 1050000, dtype: float64,
 'var_57': 0              NaN
 1              NaN
 2              NaN
 3          -3.4322
 4              NaN
             ...
 1049995    10.6066
 1049996        NaN
 1049997     6.7666
 1049998        NaN
 1049999    14.5626
 Name: var_57, Length: 1050000, dtype: float64,
 'var_58': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_58, Length: 1050000, dtype: float64,
 'var_59': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_59, Length: 1050000, dtype: float64,
 'var_60': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_60, Length: 1050000, dtype: float64,
 'var_61': 0             NaN
 1             NaN
 2             NaN
 3          5.0713
 4             NaN
             ...
 1049995    5.9553
 1049996       NaN
 1049997    5.7636
 1049998       NaN
 1049999    5.8592
 Name: var_61, Length: 1050000, dtype: float64,
 'var_62': 0              NaN
 1              NaN
 2              NaN
 3          12.0881
 4              NaN
             ...
 1049995     8.0720
 1049996        NaN
 1049997    16.7760
 1049998        NaN
 1049999    11.6048
 Name: var_62, Length: 1050000, dtype: float64,
 'var_63': 0             NaN
 1             NaN
 2             NaN
 3          6.9824
 4             NaN
             ...
 1049995    6.2884
 1049996       NaN
 1049997    6.2957
 1049998       NaN
 1049999    5.2121
 Name: var_63, Length: 1050000, dtype: float64,
 'var_64': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_64, Length: 1050000, dtype: float64,
 'var_65': 0              NaN
 1              NaN
 2              NaN
 3          29.4571
 4              NaN
             ...
 1049995    12.0519
 1049996        NaN
 1049997     2.2806
 1049998        NaN
 1049999    13.2655
 Name: var_65, Length: 1050000, dtype: float64,
 'var_66': 0              NaN
 1              NaN
 2              NaN
 3           8.2046
 4              NaN
             ...
 1049995    15.3805
 1049996        NaN
 1049997    12.5216
 1049998        NaN
 1049999     8.9337
 Name: var_66, Length: 1050000, dtype: float64,
 'var_67': 0             NaN
 1             NaN
 2             NaN
 3         -0.1858
 4             NaN
             ...
 1049995    0.9512
 1049996       NaN
 1049997    0.4862
 1049998       NaN
 1049999    0.0824
 Name: var_67, Length: 1050000, dtype: float64,
 'var_68': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_68, Length: 1050000, dtype: float64,
 'var_69': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_69, Length: 1050000, dtype: float64,
 'var_70': 0              NaN
 1              NaN
 2              NaN
 3          -6.1803
 4              NaN
             ...
 1049995   -12.7438
 1049996        NaN
 1049997    -3.9577
 1049998        NaN
 1049999    -7.2985
 Name: var_70, Length: 1050000, dtype: float64,
 'var_71': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_71, Length: 1050000, dtype: float64,
 'var_72': 0              NaN
 1              NaN
 2              NaN
 3           3.3053
 4              NaN
             ...
 1049995     7.7973
 1049996        NaN
 1049997    10.2464
 1049998        NaN
 1049999     3.2183
 Name: var_72, Length: 1050000, dtype: float64,
 'var_73': 0              NaN
 1              NaN
 2              NaN
 3          13.2162
 4              NaN
             ...
 1049995     9.9366
 1049996        NaN
 1049997    11.7770
 1049998        NaN
 1049999    10.8826
 Name: var_73, Length: 1050000, dtype: float64,
 'var_74': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_74, Length: 1050000, dtype: float64,
 'var_75': 0              NaN
 1              NaN
 2              NaN
 3          26.2068
 4              NaN
             ...
 1049995    19.2303
 1049996        NaN
 1049997     8.7273
 1049998        NaN
 1049999    12.8572
 Name: var_75, Length: 1050000, dtype: float64,
 'var_76': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_76, Length: 1050000, dtype: float64,
 'var_77': 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
            ..
 1049995   NaN
 1049996   NaN
 1049997   NaN
 1049998   NaN
 1049999   NaN
 Name: var_77, Length: 1050000, dtype: float64,
 'var_78': 0              NaN
 1              NaN
 2              NaN
 3          10.8328
 4              NaN
             ...
 1049995   -12.1504
 1049996        NaN
 1049997     2.1343
 1049998        NaN
 1049999     9.2718

In [ ]:
ls -la --si

total 188M
drwxr-xr-x 1 root root 4.1k Jul 10 22:07 ./
drwxr-xr-x 1 root root 4.1k Jul 10 22:03 ../
drwxr-xr-x 4 root root 4.1k Jul  9 21:17 .config/
drwxr-xr-x 1 root root 4.1k Jul  9 21:17 sample_data/
-rw-r--r-- 1 root root 188M Jul 10 22:07 Transaction.train.big.csv

In [ ]:
with open('dict_data.p', 'wb') as file:
    pickle.dump(dict_data, file)

In [ ]:
ls -la

total 1028884
drwxr-xr-x 1 root root      4096 Jul 10 22:11 ./
drwxr-xr-x 1 root root      4096 Jul 10 22:03 ../
drwxr-xr-x 4 root root      4096 Jul  9 21:17 .config/
-rw-r--r-- 1 root root 866218159 Jul 10 22:12 dict_data.p
drwxr-xr-x 1 root root      4096 Jul  9 21:17 sample_data/
-rw-r--r-- 1 root root 187331086 Jul 10 22:07 Transaction.train.big.csv

In [ ]:
!ls -la --si ./dict_data.p

-rw-r--r-- 1 root root 867M Jul 10 22:12 ./dict_data.p

Read the pickle file.

In [ ]:
with open('dict_data.p', 'rb') as file:
    dict_data_read = pickle.load(file)

type(dict_data_read)

dict

In [ ]:
df_dict_data_read = pd.DataFrame.from_dict(dict_data_read)
df_dict_data_read.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_91,var_92,var_93,var_94,var_95,var_96,var_97,var_98,var_99,var_100
0,train_0,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,train_1,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train_2,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,train_3,False,4.6739,22.3915,15.6015,NaN,0.0464,NaN,NaN,-1.9254,...,NaN,11.1077,NaN,-12.6465,NaN,NaN,NaN,NaN,NaN,14.0618
4,train_4,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_dict_data_read.shape

(1050000, 103)

In [ ]:
type(df_dict_data_read)

pandas.core.frame.DataFrame

In [ ]:
df_dict_data_read.iloc[:,0:3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   ID_code  1050000 non-null  object
 1   target   180000 non-null   boolean
 2   var_0    180000 non-null   float64
dtypes: boolean(1), float64(1), object(1)
memory usage: 18.0+ MB

In [ ]:
df_dict_data_read['target'] = df_dict_data_read['target'].astype("Int64")

In [ ]:
df_dict_data_read.iloc[:,0:3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   ID_code  1050000 non-null  object
 1   target   180000 non-null   Int64
 2   var_0    180000 non-null   float64
dtypes: Int64(1), float64(1), object(1)
memory usage: 25.0+ MB

In [ ]:
df_dict_data_read.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_91,var_92,var_93,var_94,var_95,var_96,var_97,var_98,var_99,var_100
0,train_0,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,train_1,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train_2,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,train_3,0,4.6739,22.3915,15.6015,NaN,0.0464,NaN,NaN,-1.9254,...,NaN,11.1077,NaN,-12.6465,NaN,NaN,NaN,NaN,NaN,14.0618
4,train_4,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Pickling a data frame

In [ ]:
data = pd.read_csv( url )
data = data.drop(['Unnamed: 0'], axis=1)

In [ ]:
data.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_91,var_92,var_93,var_94,var_95,var_96,var_97,var_98,var_99,var_100
0,train_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,train_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,train_3,0.0,4.6739,22.3915,15.6015,NaN,0.0464,NaN,NaN,-1.9254,...,NaN,11.1077,NaN,-12.6465,NaN,NaN,NaN,NaN,NaN,14.0618
4,train_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.iloc[:,0:3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   ID_code  1050000 non-null  object
 1   target   180000 non-null   float64
 2   var_0    180000 non-null   float64
dtypes: float64(2), object(1)
memory usage: 24.0+ MB

In [ ]:
data['target'] = data['target'].astype("boolean")

In [ ]:
data.iloc[:,0:3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   ID_code  1050000 non-null  object
 1   target   180000 non-null   boolean
 2   var_0    180000 non-null   float64
dtypes: boolean(1), float64(1), object(1)
memory usage: 18.0+ MB

Pickle the file.

In [ ]:
with open('data.p', 'wb') as file:
    pickle.dump(data, file)

In [ ]:
!ls -la --si ./*.p

-rw-r--r-- 1 root root 867M Jul 10 22:15 ./data.p
-rw-r--r-- 1 root root 867M Jul 10 22:12 ./dict_data.p

Read the pickle file.

In [ ]:
with open('data.p', 'rb') as file:
    data_read = pickle.load(file)
data_read.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_91,var_92,var_93,var_94,var_95,var_96,var_97,var_98,var_99,var_100
0,train_0,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,train_1,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train_2,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,train_3,False,4.6739,22.3915,15.6015,NaN,0.0464,NaN,NaN,-1.9254,...,NaN,11.1077,NaN,-12.6465,NaN,NaN,NaN,NaN,NaN,14.0618
4,train_4,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
type(data_read)

pandas.core.frame.DataFrame

In [ ]:
data_read.iloc[:,0:3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   ID_code  1050000 non-null  object
 1   target   180000 non-null   boolean
 2   var_0    180000 non-null   float64
dtypes: boolean(1), float64(1), object(1)
memory usage: 18.0+ MB

In [ ]:
data_read['target'] = data_read['target'].astype("Int8")

In [ ]:
data_read.iloc[:,0:3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   ID_code  1050000 non-null  object
 1   target   180000 non-null   Int8
 2   var_0    180000 non-null   float64
dtypes: Int8(1), float64(1), object(1)
memory usage: 18.0+ MB

In [ ]:
data_read.head()